* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

.navbar {
  margin: 0;
  width: 1680px;
  height: 80px;
  padding: 1em 10em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(21, 34, 55, 1);
}

.logo {
width: 84px;
height: 31px;
top: 25px;
left: 98px;
}

.formation-color {
 /*width: 110px;*/
 height: 18px;
  color:rgba(255, 255, 255, 1);
}

.star {
  color: yellow
}

/*.c {
  background-image: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%);
;
}*/

.rotation {
  padding: 1em 1em;
  display: flex;
  align-items: center;
}